.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  box-shadow: 4px 4px 4px gray;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 400px;
  padding: 20px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid gray;
  align-items: center;
}

.login-form input {
  width: 80%;
  height: 30px;
  font-size: larger;
}

.login-form button {
  width: 150px;
  height: 30px;
  font-size: large;
}
