*{
    margin: 0;
    padding: 0;

}
.navbar{
    width: 100%;
    height: 50px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar > div >a{
      color: white;
      font-size: 30px;
      text-decoration: none;
      text-transform: uppercase;
}
.registration > div{
    width: 50%;
    margin: auto;
   background-color: aquamarine;
}
.registration > div >form{
  display: block;
  text-align: center;

}
